.movies-container {
  position: relative;
  top: 39.5vw;
}
.movies-container h2 {
  display: inline-block;
  margin: 50px 0 0.5em 4%;
  font-size: 1.4vw;
  color: #e5e5e5;
}
.movies-container .movies {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.movies-container .movies__cards {
  width: 100%;
  display: flex;
  margin: -0.2rem 0;
}
.movies-container .movies__cards img {
  max-width: 11.1111111111%;
  padding: 0.35rem;
  border-radius: 15px;
  z-index: 1;
}
.movies-container .movies__cards .hovered {
  transform-origin: top;
  transform: scale(1.19);
  z-index: 2;
}
.movies-container .movies .handle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  width: 2.85%;
  background: hsla(0, 0%, 8%, 0);
  z-index: 1;
  cursor: pointer;
  color: #ffffff;
  line-height: 0;
  transition: background-color 100ms ease-in-out;
}
.movies-container .movies span {
  font-size: 2.5vw;
  transition: transform 100ms ease-in-out;
}
.movies-container .movies .handle:hover {
  background: hsla(0, 0%, 8%, 0.75);
}
.movies-container .movies .handle:hover span {
  transform: scale(1.3);
}
.movies-container .movies .left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.movies-container .movies .right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (max-width: 150px) {
  .movies__cards img {
    max-width: 100% !important;
  }
}
@media screen and (min-width: 151px) and (max-width: 300px) {
  .movies__cards img {
    max-width: 50% !important;
  }
}
@media screen and (min-width: 301px) and (max-width: 500px) {
  .movies__cards img {
    max-width: 33.3333333333% !important;
  }
}
@media screen and (min-width: 501px) and (max-width: 620px) {
  .movies__cards img {
    max-width: 25% !important;
  }
}
@media screen and (min-width: 621px) and (max-width: 850px) {
  .movies__cards img {
    max-width: 20% !important;
  }
}
@media screen and (min-width: 851px) and (max-width: 950px) {
  .movies__cards img {
    max-width: 16.6666666667% !important;
  }
}
@media screen and (min-width: 951px) and (max-width: 1100px) {
  .movies__cards img {
    max-width: 14.2857142857% !important;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1300px) {
  .movies__cards img {
    max-width: 12.5% !important;
  }
}