.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}
.modal__container {
  position: relative;
  width: 39.41vw;
  height: 100vh;
  min-height: 700px;
  margin-top: 28px;
  border-radius: 6px;
  background-color: rgb(20, 20, 20);
}
.modal__container .trailer {
  display: flex;
  justify-content: center;
}
.modal__container .trailer .youtube {
  width: 100%;
  height: 52vh;
  padding: 0 50px 0 7%;
  margin-top: 15px;
}
.modal__container .trailer img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.modal__container .close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container .close span {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 0.8;
  cursor: pointer;
}
.modal__container .close:active {
  border: 1px solid rgb(255, 255, 255);
}
.modal__container .modal-buttons {
  margin-top: 20px;
  margin-left: 7%;
  display: flex;
  gap: 8px;
}
.modal__container .modal-buttons .add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.78vw;
  width: 1.78vw;
  border: 1px solid rgb(144, 144, 144);
  border-radius: 50%;
  background-color: rgba(42, 42, 42, 0.6);
  cursor: pointer;
  line-height: 0;
}
.modal__container .modal-buttons .add span {
  color: #ffffff;
  font-size: 1.5vw;
}
.modal__container .modal-buttons .thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.78vw;
  width: 1.78vw;
  border: 1px solid rgb(144, 144, 144);
  border-radius: 50%;
  background-color: rgba(42, 42, 42, 0.6);
  cursor: pointer;
  line-height: 0.8;
}
.modal__container .modal-buttons .thumb span {
  color: #ffffff;
  font-size: 0.9vw;
}
.modal__container .modal-buttons .add:hover,
.modal__container .modal-buttons .thumb:hover {
  border: 1.4px solid rgb(255, 255, 255);
}
.modal__container .modal-buttons .add:active,
.modal__container .modal-buttons .thumb:active {
  border: 2px solid rgb(255, 255, 255);
}
.modal__container .modal-buttons .add-container,
.modal__container .modal-buttons .thumb-container,
.modal__container .modal-buttons .arrow-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.modal__container .modal-buttons .add-container .bubble,
.modal__container .modal-buttons .thumb-container .bubble,
.modal__container .modal-buttons .arrow-container .bubble {
  position: absolute;
  top: -50px;
  background: whitesmoke;
  color: black;
  word-wrap: normal;
  font-size: 1.5vh;
  white-space: nowrap;
  line-height: 10px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
}
.modal__container .modal-buttons .add-container .bubble:after,
.modal__container .modal-buttons .thumb-container .bubble:after,
.modal__container .modal-buttons .arrow-container .bubble:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: whitesmoke transparent;
  border-width: 10px 9px 0;
  bottom: -10px;
  left: 50%;
  margin-left: -9px;
}
.modal__container__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 40px 0 7%;
}
.modal__container__info p {
  color: #ffffff;
  font-size: 0.9rem;
}
.modal__container__info .info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal__container__info .info .date {
  text-align: center;
}
.modal__container__info .info label {
  color: #ffffff;
  font-size: 0.9rem;
}
.modal__container__info .info .age-check {
  border: 1px solid rgb(116, 116, 116);
  padding: 0 4px;
}
.modal__container__info .info .vote {
  border: 1px solid rgb(116, 116, 116);
  padding: 0 4px;
  border-radius: 2px;
}
.modal__container__info .info .media-type {
  border: 1px solid rgb(116, 116, 116);
  padding: 0 4px;
}
.modal__container__info .info span {
  color: #ffffff;
  line-height: 0;
}
.modal__container__info .genres {
  position: absolute;
  right: 7%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}
.modal__container__info .genres label:nth-of-type(1) {
  color: #777777;
  font-size: 0.9rem;
}
.modal__container__info .genres label {
  color: #ffffff;
  font-size: 0.9rem;
  margin-right: 3px;
}
.modal__container .overview {
  color: #ffffff;
  width: 65%;
  margin-left: 7%;
  margin-top: 30px;
}

@media screen and (max-width: 220px) {
  .modal__container {
    height: 100vh !important;
  }
  .close span {
    font-size: 5vw !important;
  }
}
@media screen and (max-width: 300px) {
  .modal__container {
    width: 100vw;
    height: 110vh;
  }
  .modal__container .trailer .youtube {
    padding: 0 38px 0 7%;
  }
  .modal__container .close span {
    font-size: 4vw;
  }
  .modal__container .info .date p {
    font-size: 3.5vw;
  }
  .modal__container .info .age-check label {
    font-size: 3.5vw;
  }
  .modal__container .info .vote p {
    font-size: 3.5vw;
  }
  .modal__container .info .media-type label {
    font-size: 3.5vw;
  }
  .modal__container .info span {
    font-size: 3.5vw;
  }
  .modal__container .genres label {
    font-size: 3.5vw !important;
  }
  .modal__container .overview {
    width: 85%;
  }
  .modal__container .overview p {
    font-size: 3.5vw !important;
  }
  .modal__container .add {
    height: 7vw !important;
    width: 7vw !important;
  }
  .modal__container .add span {
    font-size: 5.5vw !important;
  }
  .modal__container .thumb {
    height: 7vw !important;
    width: 7vw !important;
  }
  .modal__container .thumb span {
    font-size: 4.1vw !important;
  }
  .modal__container .modal__container__info .info {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 301px) and (max-width: 400px) {
  .modal__container {
    width: 95vw;
    height: 110vh;
  }
  .modal__container .trailer .youtube {
    padding: 0 40px 0 7%;
  }
  .modal__container .close span {
    font-size: 3.5vw;
  }
  .modal__container .info .date p {
    font-size: 3vw;
  }
  .modal__container .info .age-check label {
    font-size: 3vw;
  }
  .modal__container .info .vote p {
    font-size: 3vw;
  }
  .modal__container .info .media-type label {
    font-size: 3vw;
  }
  .modal__container .info span {
    font-size: 3vw;
  }
  .modal__container .genres label {
    font-size: 3vw !important;
  }
  .modal__container .overview {
    width: 87%;
  }
  .modal__container .overview p {
    font-size: 3vw !important;
  }
  .modal__container .add {
    height: 6vw !important;
    width: 6vw !important;
  }
  .modal__container .add span {
    font-size: 5vw !important;
  }
  .modal__container .thumb {
    height: 6vw !important;
    width: 6vw !important;
  }
  .modal__container .thumb span {
    font-size: 3.6vw !important;
  }
  .modal__container .modal__container__info .info {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 401px) and (max-width: 500px) {
  .modal__container {
    width: 92vw;
    height: 110vh;
  }
  .modal__container .trailer .youtube {
    padding: 0 43px 0 7%;
  }
  .modal__container .close span {
    font-size: 3vw;
  }
  .modal__container .info .date p {
    font-size: 2.5vw;
  }
  .modal__container .info .age-check label {
    font-size: 2.5vw;
  }
  .modal__container .info .vote p {
    font-size: 2.5vw;
  }
  .modal__container .info .media-type label {
    font-size: 2.5vw;
  }
  .modal__container .info span {
    font-size: 2.5vw;
  }
  .modal__container .genres label {
    font-size: 2.5vw !important;
  }
  .modal__container .overview {
    width: 87%;
  }
  .modal__container .overview p {
    font-size: 2.5vw !important;
  }
  .modal__container .add {
    height: 5.5vw !important;
    width: 5.5vw !important;
  }
  .modal__container .add span {
    font-size: 4.2vw !important;
  }
  .modal__container .thumb {
    height: 5.5vw !important;
    width: 5.5vw !important;
  }
  .modal__container .thumb span {
    font-size: 3.3vw !important;
  }
  .modal__container .modal__container__info .info {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 501px) and (max-width: 550px) {
  .modal__container {
    width: 88vw;
    height: 105vh;
  }
  .modal__container .trailer .youtube {
    padding: 0 45px 0 7%;
  }
  .modal__container .close span {
    font-size: 2.5vw;
  }
  .modal__container .info .date p {
    font-size: 2vw;
  }
  .modal__container .info .age-check label {
    font-size: 2vw;
  }
  .modal__container .info .vote p {
    font-size: 2vw;
  }
  .modal__container .info .media-type label {
    font-size: 2vw;
  }
  .modal__container .info span {
    font-size: 2vw;
  }
  .modal__container .genres label {
    font-size: 2vw !important;
  }
  .modal__container .overview {
    width: 87%;
  }
  .modal__container .overview p {
    font-size: 2vw !important;
  }
  .modal__container .add {
    height: 4vw !important;
    width: 4vw !important;
  }
  .modal__container .add span {
    font-size: 3.3vw !important;
  }
  .modal__container .thumb {
    height: 4vw !important;
    width: 4vw !important;
  }
  .modal__container .thumb span {
    font-size: 2.4vw !important;
  }
  .modal__container .modal__container__info .info {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 551px) and (max-width: 650px) {
  .modal__container {
    width: 80vw;
  }
  .modal__container .trailer .youtube {
    padding: 0 45px 0 7%;
  }
  .modal__container .close span {
    font-size: 2.2vw;
  }
  .modal__container .info .date p {
    font-size: 1.7vw;
  }
  .modal__container .info .age-check label {
    font-size: 1.7vw;
  }
  .modal__container .info .vote p {
    font-size: 1.7vw;
  }
  .modal__container .info .media-type label {
    font-size: 1.7vw;
  }
  .modal__container .info span {
    font-size: 1.7vw;
  }
  .modal__container .genres label {
    font-size: 1.7vw !important;
  }
  .modal__container .overview p {
    font-size: 1.7vw !important;
  }
  .modal__container .add {
    height: 4vw !important;
    width: 4vw !important;
  }
  .modal__container .add span {
    font-size: 3.3vw !important;
  }
  .modal__container .thumb {
    height: 4vw !important;
    width: 4vw !important;
  }
  .modal__container .thumb span {
    font-size: 2.4vw !important;
  }
}
@media screen and (min-width: 651px) and (max-width: 850px) {
  .modal__container {
    width: 67vw;
  }
  .modal__container .trailer .youtube {
    padding: 0 45px 0 7%;
  }
  .modal__container .close span {
    font-size: 1.7vw;
  }
  .modal__container .info .date p {
    font-size: 1.4vw;
  }
  .modal__container .info .age-check label {
    font-size: 1.4vw;
  }
  .modal__container .info .vote p {
    font-size: 1.4vw;
  }
  .modal__container .info .media-type label {
    font-size: 1.4vw;
  }
  .modal__container .info span {
    font-size: 1.4vw;
  }
  .modal__container .genres label {
    font-size: 1.4vw !important;
  }
  .modal__container .overview p {
    font-size: 1.4vw !important;
  }
  .modal__container .add {
    height: 3vw !important;
    width: 3vw !important;
  }
  .modal__container .add span {
    font-size: 2.8vw !important;
  }
  .modal__container .thumb {
    height: 3vw !important;
    width: 3vw !important;
  }
  .modal__container .thumb span {
    font-size: 1.9vw !important;
  }
}
@media screen and (min-width: 851px) and (max-width: 1100px) {
  .modal__container {
    width: 54vw;
  }
  .modal__container .close span {
    font-size: 1.5vw;
  }
  .modal__container .info .date p {
    font-size: 1.2vw;
  }
  .modal__container .info .age-check label {
    font-size: 1.2vw;
  }
  .modal__container .info .vote p {
    font-size: 1.2vw;
  }
  .modal__container .info .media-type label {
    font-size: 1.2vw;
  }
  .modal__container .info span {
    font-size: 1.2vw;
  }
  .modal__container .genres label {
    font-size: 1.2vw !important;
  }
  .modal__container .overview p {
    font-size: 1.2vw !important;
  }
  .modal__container .add {
    height: 2.5vw !important;
    width: 2.5vw !important;
  }
  .modal__container .add span {
    font-size: 2.3vw !important;
  }
  .modal__container .thumb {
    height: 2.5vw !important;
    width: 2.5vw !important;
  }
  .modal__container .thumb span {
    font-size: 1.5vw !important;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1280px) {
  .modal__container {
    width: 45vw;
  }
}
