.my-list-page {
  height: 100vh;
  width: 100vw;
  background: #141414;
}
.my-list-page__container {
  padding: 85px 55px;
  overflow: hidden;
  background: inherit;
}
.my-list-page__container h1 {
  margin-left: 6px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #ffffff;
}
.my-list-page__container h3 {
  color: #666;
  text-align: center;
  margin: 200px;
}
.my-list-page__container .my-list__cards {
  margin-top: 60px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 65px;
}
.my-list-page__container .my-list__cards img {
  max-width: 11.1111111111%;
  padding: 0.35rem;
  border-radius: 15px;
  z-index: 1;
}
.my-list-page__container .my-list__cards .hovered {
  transform-origin: top;
  transform: scale(1.19);
  z-index: 2;
}