.navigation-menu {
  position: absolute;
  top: 10px;
  left: -78px;
  padding-top: 40px;
  z-index: 4;
}
.navigation-menu .menu {
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  font-size: 13px;
  line-height: 35px;
  border: 1px solid hsla(0, 0%, 100%, 0.15);
  border-radius: 0px;
  border-top: 2px solid #e5e5e5;
  padding: 10px 0;
}
.navigation-menu .menu ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 200px;
}
.navigation-menu .menu li {
  text-align: center;
  width: 100%;
  margin: 0;
}
.navigation-menu .menu a {
  color: #b3b3b3;
  white-space: nowrap;
}
.navigation-menu .menu li:hover {
  background-color: hsla(0, 0%, 100%, 0.05);
}
.navigation-menu .menu:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #e5e5e5 transparent;
  border-width: 0 7px 9px;
  top: -9px;
  left: 50%;
  margin-left: -7px;
}

@media screen and (max-width: 119px) {
  .navigation-menu {
    top: 0px;
    left: -15px;
  }
  .navigation-menu .menu {
    font-size: 6px;
    line-height: 20px;
  }
  .navigation-menu .menu ul {
    width: 60px !important;
  }
}
@media screen and (min-width: 120px) and (max-width: 149px) {
  .navigation-menu {
    top: 0px;
    left: -25px;
  }
  .navigation-menu .menu {
    font-size: 7px;
    line-height: 22px;
  }
  .navigation-menu .menu ul {
    width: 80px !important;
  }
}
@media screen and (min-width: 150px) and (max-width: 199px) {
  .navigation-menu {
    top: 3px;
    left: -30px;
  }
  .navigation-menu .menu {
    font-size: 8px;
    line-height: 28px;
  }
  .navigation-menu .menu ul {
    width: 90px !important;
  }
}
@media screen and (min-width: 200px) and (max-width: 249px) {
  .navigation-menu {
    top: 5px;
    left: -38px;
  }
  .navigation-menu .menu {
    font-size: 10px;
    line-height: 30px;
  }
  .navigation-menu .menu ul {
    width: 120px !important;
  }
}
@media screen and (min-width: 250px) and (max-width: 310px) {
  .navigation-menu {
    top: 7px;
    left: -48px;
  }
  .navigation-menu .menu {
    font-size: 11px;
  }
  .navigation-menu .menu ul {
    width: 140px !important;
  }
}
@media screen and (min-width: 311px) and (max-width: 399px) {
  .navigation-menu {
    left: -58px;
  }
  .navigation-menu .menu ul {
    width: 160px !important;
  }
}