.movie-info {
  position: absolute;
  top: 13vw;
  width: 34%;
  left: 4%;
}
.movie-info h1 {
  color: #ffffff;
  font-size: 3.4vw;
}
.movie-info p {
  margin: 22px 0;
  color: #ffffff;
  font-size: 1.2vw;
}
.movie-info div {
  margin-top: 28px;
  display: flex;
  gap: 10px;
}
.movie-info div button:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  font-size: 1.32rem;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2.4rem;
  gap: 5px;
}
.movie-info div button:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  font-size: 1.32rem;
  cursor: pointer;
  background: rgba(88, 84, 81, 0.6);
  color: #ffffff;
  padding-left: 1.6rem;
  padding-right: 2rem;
  gap: 7px;
  white-space: nowrap;
}
.movie-info div button:nth-of-type(1):hover {
  background-color: #c0bfc0;
}
.movie-info div button:nth-of-type(2):hover {
  background: rgba(88, 84, 81, 0.45);
}
.movie-info div button:nth-of-type(1):active {
  color: rgb(49, 49, 49);
  border: 2px solid rgb(255, 255, 255);
}
.movie-info div button:nth-of-type(2):active {
  color: #c5c5c5;
  border: 2px solid rgb(255, 255, 255);
}