.tv-show-page {
  background: #141414;
  padding-bottom: 30px;
  height: auto;
}
.tv-show-page .h1-select {
  display: flex;
  padding-top: 85px;
  padding-left: 62px;
  padding-bottom: 20px;
}
.tv-show-page .h1-select h1 {
  font-size: 1.8rem;
  color: #666;
}
.tv-show-page .h1-select select {
  margin-left: 40px;
  height: 1.8rem;
  background-color: #000;
  border: 1px solid hsla(0, 0%, 100%, 0.9);
  color: #fff;
  font-size: 1rem;
  padding-left: 5px;
  cursor: pointer;
}
.tv-show-page .h1-select select:focus {
  outline: none;
}
.tv-show-page__container {
  padding: 100px 55px;
  overflow: hidden;
  background: inherit;
}
.tv-show-page__container h2 {
  margin-left: 6px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: gray;
}
.tv-show-page__container .tv__cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 65px;
}
.tv-show-page__container .tv__cards img {
  max-width: 11.1111111111%;
  padding: 0.35rem;
  border-radius: 15px;
  z-index: 1;
}
.tv-show-page__container .tv__cards .hovered {
  transform-origin: top;
  transform: scale(1.19);
  z-index: 2;
}
.tv-show-page .movies-container {
  position: relative;
  top: 0;
}
.tv-show-page .footer {
  position: relative !important;
  bottom: 0 !important;
  margin-top: 6em;
}