@mixin flex-align {
  display: flex;
  align-items: center;
}
@mixin a {
  a {
    text-decoration: none;
  }
  a:visited {
    color: #ffffff;
  }
}
header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 68px;
  padding: 0 52px;
  font-size: 0.9rem;
  @include flex-align;
  justify-content: space-between;

  nav {
    @include flex-align;
    img {
      cursor: pointer;
    }
    ul {
      margin: 0 27px;
    }
    li {
      display: inline-block;
      list-style: none;
      margin: 0 6px;
      @include a;

      a:hover {
        color: #a9a8a8;
      }
    }
  }
  .secondary-navigation {
    @include flex-align;
    display: flex;
    gap: 12px;
    @include a;
    img {
      cursor: pointer;
    }
    img:nth-of-type(4) {
      width: 13px;
      height: auto;
    }
    img:nth-of-type(4):hover {
      transform: rotate(180deg);
      transition: transform 367ms ease;
    }
  }
}
