@mixin button {
  height: 34px;
  width: 34px;
  border: 1px solid rgb(144, 144, 144);
  border-radius: 50%;
  background-color: rgba(42, 42, 42, 0.6);
  cursor: pointer;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin border {
  border: 1px solid rgb(116, 116, 116);
  padding: 0 4px;
}
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  overflow-y: scroll;

  &__container {
    position: relative;
    width: 750px;
    height: 100vh;
    margin-top: 28px;
    border-radius: 6px;
    background-color: rgb(20, 20, 20);

    .trailer {
      display: flex;
      justify-content: center;
      .youtube {
        margin-top: 15px;
      }
      img {
        width: 100%;
        border-radius: 6px 6px 0 0;
      }
    }

    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: rgb(20, 20, 20);
      @include flex;
      span {
        color: #ffffff;
        font-size: 1.2rem;
        line-height: 0.8;
        cursor: pointer;
      }
    }

    .close:active {
      border: 1px solid rgb(255, 255, 255);
    }
    .modal-buttons {
      margin-top: 20px;
      margin-left: 55px;
      display: flex;
      gap: 8px;
      button:nth-of-type(1) {
        @include flex;
        gap: 5px;
        height: 35px;
        width: 130px;
        background: #ffffff;
        border-radius: 4px;
        border: none;
        font-size: 1.32rem;
        cursor: pointer;
      }
      .add {
        @include flex;
        @include button;
        line-height: 0;
        span {
          color: #ffffff;
          font-size: 2rem;
        }
      }
      .thumb {
        @include flex;
        @include button;
        line-height: 0.8;
        span {
          color: #ffffff;
          font-size: 1.2rem;
        }
      }

      button:nth-of-type(1):hover {
        background-color: #c0bfc0;
      }

      .add:hover,
      .thumb:hover {
        border: 1.4px solid rgb(255, 255, 255);
      }

      button:nth-of-type(1):active {
        color: rgb(39, 39, 39);
        border: 2px solid rgb(255, 255, 255);
      }

      .add:active,
      .thumb:active {
        border: 2px solid rgb(255, 255, 255);
      }
    }
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px 40px 0 55px;
      p {
        color: #ffffff;
        font-size: 0.9rem;
      }
      .info {
        display: flex;
        align-items: center;
        gap: 10px;
        .date {
          text-align: center;
        }
        label {
          color: #ffffff;
          font-size: 0.9rem;
        }
        .age-check {
          @include border;
        }
        .vote {
          @include border;
          border-radius: 2px;
        }
        .media-type {
          @include border;
        }
        span {
          color: #ffffff;
          line-height: 0;
        }
      }

      .genres {
        position: absolute;
        right: 50px;
        max-width: 200px;
        display: flex;
        flex-direction: column;

        label:nth-of-type(1) {
          color: #777777;
          font-size: 0.9rem;
        }
        label {
          color: #ffffff;
          font-size: 0.9rem;
          margin-right: 3px;
        }
      }
    }

    .overview {
      color: #ffffff;
      width: 65%;
      margin-left: 55px;
      margin-top: 30px;
    }
  }
}
