.my-list-page {
  height: 100vh;
  width: 100vw;
  background: #141414;

  &__container {
    padding: 85px 55px;
    overflow: hidden;
    background: inherit;

    h1 {
      margin-left: 6px;
      margin-bottom: 10px;
      font-size: 1.8rem;
      color: #ffffff;
    }
    h3 {
      color: #666;
      text-align: center;
      margin: 200px;
    }

    .my-list__cards {
      margin-top: 60px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 65px;

      img {
        max-width: calc(100% / 9);
        padding: 0.35rem;
        border-radius: 15px;
        z-index: 1;
      }

      .hovered {
        transform-origin: top;
        transform: scale(1.19);
        z-index: 2;
      }
    }
  }
}
