.image-container {
  background-repeat: no-repeat;
  height: 1100px;
  width: 100vw;
  background-size: cover;
  filter: brightness(85%);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
