.search-page {
  height: 1300px;
  width: 100vw;
  background: #141414;

  &__container {
    position: absolute;
    top: 100px;
    overflow: hidden;
    padding: 0 55px;

    h2 {
      margin-left: 6px;
      margin-bottom: 10px;
      font-size: 1.4rem;
      color: gray;
    }

    .searched__cards {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 65px;

      img {
        max-width: calc(100% / 9);
        padding: 0.35rem;
        border-radius: 15px;
        z-index: 1;
      }

      .hovered {
        transform-origin: top;
        transform: scale(1.19);
        z-index: 2;
      }
    }
  }
}
